<a href="https://colab.research.google.com/github/aymm51/CPEN-21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print (x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [15]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

In [5]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    break
print (x)

Thursday

##Looping Through String

In [16]:
for x in "Friday":
  print (x)

F
r
i
d
a
y

##The range () function

In [14]:
for x in range (6):
  print (x)

0
1
2
3
4
5

In [10]:
for x in range (2,6):
  print (x)

2
3
4
5

##Nested Loops

In [13]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print (x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [18]:
i = 1

while i<6:
  print (i)
  i+=1  #Assignment operator for addition

1
2
3
4
5

##The Break Statement

In [19]:
i = 1
while i<6:
  print (i)
  if i==3:
    break
  i+=1  #Assignment operator for addition

1
2
3

##The Continue Statement

In [20]:
i = 0
while i<6:
  i+=1
  if i==3:
    continue
  print (i)

1
2
4
5
6

##The Else Statement

In [21]:
i = 1
while i<6:
  print (i)
  i+=1
  
else:
  print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Application 1

In [22]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically

msg = ["Hello"]
num = ["0","1","2","3","4","5","6","7","8","9","10"]

for x in msg:
  for y in num:
    print (x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2

In [24]:
#Create a Python Program that displays integers less than 10 but not less than 3

for x in range (3,10):
  print (x)

3
4
5
6
7
8
9